.content_container {
  margin-top: calc(var(--navbar-height) + 2rem);
  min-height: calc(100vh - (var(--navbar-height) + 2rem + 109px));
}
.message {
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width: 640px) {
  .message {
    font-size: 1.8rem;
  }
}
